@using Student_Fees.Models;

@{
    List<Student> students = Model;
}

<div class="row">
    <div class="col">
        <h1>Student Fees</h1>
        <p>An application to record and track fees paid by students.</p>

        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="text-center">Id</th>
                    <th scope="col" class="text-center">Forename</th>
                    <th scope="col" class="text-center">Surname</th>
                    <th scope="col" class="text-center">Total Payment Amount</th>
                    <th scope="col" class="text-center">Payment History</th>
                    <th scope="col" class="text-center">Add Payment</th>
                </tr>
            </thead>
            <tbody>
                @{
                    // Loop over students.
                    foreach (Student student in students)
                    {
                        <tr>
                            <td class="text-center">@student.Id</td>
                            <td class="text-center">@student.Forename</td>
                            <td class="text-center">@student.Surname</td>
                            <td class="text-center">@($"{student.TotalPaymentAmount:c}")</td>
                            <td class="text-center">
                                @{
                                    // If we have payment history, create a payment history modal.
                                    if (student.Payments.Count > 0)
                                    {
                                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="@($"#{student.Id}-payment-history")">View Payments</button>
                                        <div class="modal fade" id="@($"{student.Id}-payment-history")" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Payment History</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body text-left">
                                                        <p>Payments made by @($"{student.Forename} {student.Surname}").</p>
                                                        @{
                                                            <table class="table table-bordered table-striped">
                                                                <thead class="thead-dark">
                                                                    <tr>
                                                                        <th scope="col" class="text-center">Amount</th>
                                                                        <th scope="col" class="text-center">Date</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @{
                                                                        // Loop over the payments and output the amounts and dates.
                                                                        foreach (Payment payment in student.Payments)
                                                                        {
                                                                            <tr>
                                                                                <td class="text-center">@($"{payment.Amount:c}")</td>
                                                                                <td class="text-center">@($"{payment.Date:dd/MM/yyy}")</td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        }
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-secondary" disabled>View Payments</button>
                                    }
                                }
                            </td>
                            <td class="text-center">
                                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="@($"#{student.Id}-add-payment")">Add New Payment</button>
                                <div class="modal fade" id="@($"{student.Id}-add-payment")" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Add Payment</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form class="needs-validation" novalidate>
                                                <div class="modal-body text-left">
                                                    <p>Add a payment for @($"{student.Forename} {student.Surname}").</p>
                                                    <div class="form-group">
                                                        <label for="@($"{student.Id}-amount")">Amount</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <div class="input-group-text">£</div>
                                                            </div>
                                                            <input type="number" value="" placeholder="00.00" min="0" step="1" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" id="@($"{student.Id}-amount")" name="amount" aria-describedby="@($"{student.Id}-amount-help")" required />
                                                            <div class="invalid-feedback">
                                                                Please enter a valid amount.
                                                            </div>
                                                        </div>
                                                        <input type="hidden" name="studentId" value="@($"{student.Id}")" required />
                                                        @Html.AntiForgeryToken()
                                                        <small id="@($"{student.Id}-amount-help")" class="form-text text-muted">Enter the amount that the student has paid.</small>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>